flask
flask-cors
scikit-learn
xgboost
pandas
numpy
matplotlib
seaborn
scipy
joblib
selenium
beautifulsoup4
openpyxl
pydantic
requests
undetected-chromedriver
fake-useragent
python-dotenv
webdriver-manager
selenium
requests
